/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #7386D5;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    box-shadow: 0px 3px 12px rgba(0,0,0,.5);
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-left: 10px;
}